!!!
html
  head
    title The Tea Project Dashboard
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    script(type='text/javascript')
      setTimeout(function() { window.location.reload(); }, 300);

  body
    h1 The Tea Project

    - if (tea) {
      div= tea.name
    - } else {
      div Select a tea using remote control application.
    - }