!!!
html
  head
    title Remote Control - The Tea Project
    link(rel='stylesheet', href='/stylesheets/remote.css')
    script(type='text/javascript', src='/javascripts/remote.js')
    
  body
    input#state(type='hidden', value=state)

    h3 The Tea Project

    div#selecting(style='display:none;')
      - for (var i = 0; i < teaList.length; i += 1) {
        input.tea(type='button', value='&nbsp;' + teaList[i].name + '&nbsp;', onclick='selectTea('+i+');')
        br
      - }

    div#selected(style='display:none;')
      input#brew.big(type='button', value='&nbsp;Start The Brew!&nbsp;')
      br
      input#back(type='button', value='&nbsp;< Select Another Tea&nbsp;')

    div#brewing(style='display:none;')
      input#done(type='button', value='&nbsp;Done, Select Another Tea&nbsp;')