!!!
html
  head
    title The Tea Project Remote Control
    link(rel='stylesheet', href='/stylesheets/remote.css')
    script(type='text/javascript', src='/javascripts/remote.js')
    
  body
    h1 The Tea Project
    form#remote(method='post')
      select#tea
        option Select a tea...
        - for (var i = 0; i < teaList.length; i += 1) {
          option= teaList[i].name
        - }
      br
      input#brew(type='button', value='Start Brew!', disabled)